.grid-container-auto-repeat-atrium {
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    padding-top: 10px;
}

.img-atrium {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-atrium {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-1-atrium {
    /* padding: 2em; */
    padding: 0;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
    text-align: center;
    height: 500px; 
    overflow: hidden; 
    position: relative;
}

.card-2-atrium {
    /* padding: 2em; */
    padding: 0;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
    height: 330px; 
    text-align: center;
}

.card-3-atrium {
    /* padding: 2em; */
    padding: 0;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
    height: 330px; 
    text-align: center;
}