.grid-container-auto-repeat-atrium {
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    padding-top: 10px;
}

.img-atrium {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0.6; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transition: width 0.5s ease, height 0.5s ease;
    /* cursor: pointer; */

}

.text-atrium {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px 40px 20px 40px;
    width: 65%;
}

.text-atrium h1 {
    color: white;
    font-weight: bolder;
}

.card-1-atrium {
    /* padding: 2em; */
    padding: 0;
    border: 1px solid rgb(197, 162, 101);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 500px; 
    overflow: hidden; 
    position: relative;
}

.card-1-atrium:hover .img-atrium{
    width: 110%;
    height: 110%;
    object-position: right;
}

.card-2-atrium {
    /* padding: 2em; */
    padding: 0 0 0 30px;
    border: 1px solid rgb(197, 162, 101);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 330px; 
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card-3-atrium {
    /* padding: 2em; */
    padding: 0;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
    height: 330px; 
    text-align: center;
}
.alayonhall-text {
    text-align: left;
    font-size: large;
    margin-left: 25px;
    width: 550px;
}

.img-alayon {
    background-color: rgb(197, 162, 101);
    border-radius: 10px;
    border: 1px solid rgb(197, 162, 101);
    object-fit: cover;
    overflow: hidden;
}

.img-alayon img {
    width: 100%;
    height: 100%;   
    object-fit: cover;
    transition: transform 0.5s ease;
    /* cursor: pointer; */
}

.img-alayon:hover img {
    transform: scale(1.1);
}



@media (max-width: 900px) {
    .card-2-atrium {
        flex-direction: column;
        height: auto;
        /* padding-top: 10px; */
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-left: 0;
    }
    .card-2-atrium .alayonhall-text {
        text-align: center;
    }

    .img-alayon {
        width: 100%;
        height: 100%;
    }

    .alayonhall-text {
        margin: auto;
        width: 100%;
    }

    .text-atrium {
        width: 95%;
    }

    .card-1-atrium {
        height: 750px;
    }    
}