.c-item {
    /* default = height: 480px; */
    height: 85vh;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    object-position: right;
  }

  .paddingtop80px {
    padding-top: 80px;
  }



