body {
    padding-top: 60px;
}

.buttton-1 {
    background-color: rgb(197, 162, 101);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.buttton-1:hover {
    background-color: rgb(31, 69, 110);
    border-radius: 4px;
}

.buttton-1:active {
    margin-top: 1px;
    margin-left: 1px;
}