.grid-container-auto-repeat-produkto {
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    padding-top: 10px;
}

.card-2-produkto {
    padding: 0 0 0 0;
    border: 1px solid rgb(197, 162, 101);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 330px; 
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 600px) { 
    .grid-container-auto-repeat-produkto {
        grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
        gap: 15px;

    }

    .card-2-produkto {
        height: 150px; 
    }
}  
